# Archivos y carpetas a ignorar en construcción de Docker
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv
.env
.env.local
.DS_Store
.git
.gitignore
.gitlab-ci.yml
.github/
.dockerignore
Dockerfile
docker-compose*.yml
README.md
SECURITY.md
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.mypy_cache/
.vscode/
.idea/
*.swp
*.swo
